@model IEnumerable<K_K.Models.Recenzija>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumDodavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Narudzba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDodavanja)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Proizvod.Discriminator)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Narudzba.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
