@model K_K.Models.LokacijaKafica

@{
    ViewData["Title"] = "Detalji";
}

<h1>Details</h1>

<div>
    <h4>LokacijaKafica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaSirina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaSirina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeografskaDuzina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeografskaDuzina)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        </div>
    }
    <div>
        <a asp-action="Index">Nazad na listu lokacija</a>
    </div>
</div>
