@model K_K.Models.Korpa
<h2>Korpa korisnika:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Proizvod</th>
            <th>Količina</th>
            <th>Cijena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stavka in Model.Stavke)
        {
            <tr>
                <td>@stavka.Proizvod.Naziv</td>
                <td>@stavka.Kolicina</td>
                <td>@stavka.Cijena</td>
            </tr>
        }
    </tbody>
</table>

<p>
    Ukupno proizvoda: @Model.brojProizvoda<br />
    Ukupna cijena: @Model.ukupnaCijena
</p>